{% extends 'layout.html.twig' %}

{% block content %}
    <h3 class="add_title bold red"> Modifier une cible </h3>
    {% include 'Admin/_form.html.twig' %}
    <a href="/Admin/show/{{ item.id }}">Retour</a>
{% endblock %}
