{% extends 'layout.html.twig' %}

{% block content %}
<div class="body_home">
    <div class="article-dual-column" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="container">
                        <div class="intro">
                            <p class="text-center"><span class="bold red">JENNY VIANNAY</span>
                                <span class="bold">| Nettoyeuse professionnelle depuis 2010</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <img class="pix-jenny" src="https://i.postimg.cc/W16vs3GF/jenny.png">
                    <span class="stat">
                        <ul class="stat text-center">
                            <h3 class="text-center"><span class="bold red">STATISTIQUES MVP</h3>
                    </span><br>
                    <li>
                        Tâches éliminées : <span class="bold">24</span>
                    </li>
                    <li>
                        Max Tâches éliminées/jour : <span class="bold">4</span>
                    </li>
                    <li>
                        Outil préféré : <span class="bold">Plumeau</span>
                    </li>
                    </ul>
                    </span>
                </div>
                <hr>
                <div class="row justify-content-md-center">
                    <div class="text-center">
                        <p class="bio"><span class="bold">Vous êtes dans de sales draps et vous avez besoin d’un grand
                                nettoyage&nbsp;?</span> <br> <br> Jenny vous propose ses services pour vous aider à vous
                            débarrasser des
                            plus
                            grosses tâches qui vous entourent. Autodidacte et ingénieuse, Jenny a développé
                            des méthodes de nettoyage qui peuvent parfois paraître violentes, mais qui sont toujours
                            efficaces. Regardez ses statistiques impressionnantes pour vous faire une idée, et
                            n’hésitez pas à la contacter <a href="/contact/index"><span class="bold red">ici</span></a>
                            si vous souhaitez vous
                            débarrasser
                            des saletés du quotidien définitivement.</p>
                        <figure class="figure"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
