* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: black;
    height: 2em;
    width: 100%;
    font-weight: bold;
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: darkred;
    text-decoration: underline;
}

.active_link {
    color: darkred;
}

.big_title {
    background-color: black;
    padding: 1em;
    padding-bottom: 0.5em;
    text-align: center;
    color: darkred;
    font-size: 90px;
    font-family: "Amatic SC", sans-serif;
}

/* home */

h1 {
    margin: 0px;
}

.body_home {
    font-family: 'Amatic SC';
    background-color: #000000;
    color: #a29797;
    font-size: 18px;
}

.pix-jenny {
    height: 12em;
    margin-top: 30px;
}

.red {
    color: darkred;
}

.bold {
    font-weight: bold;
}

.stat {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    font-family: 'Roboto Slab', serif;
    font-family: 'Changa', sans-serif;
}

.stat_title {
    font-size: 30px;
}

.bio {
    line-height: 2em;
    font-family: 'Roboto Slab', serif;
    font-family: 'Changa', sans-serif;
}

h3 {
    font-family: "Amatic SC", sans-serif;
}

.home_title {
    font-size: 35px;
}

.bio_title {
    font-size: 30px;
}

/* Log et register */

.fieldset_log, .fieldset_r {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 5px;
    margin: 6rem auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.label_log, .label_r {
    align-self: flex-start;
    width: 80%;
    margin-left: 10%;
}

.input_log, .input_r,#select_role {
    width: 80%;
    padding: 0.5rem;
    margin: auto;
}

.button_log, .button_r {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#button_log, #button_r {
    width: 40%;
    padding: 0.5rem;
}

/* welcome et goodbye*/

.welcome {
    position: absolute;
    top: 30%;
    left: 35%;
    background-color: transparent;
    z-index: 2;
}

.welcome h2 {
    text-align: center;
    color: darkred;
    padding: 4rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 100px;
}

.welcome p {
    text-align: center;
    font-size: 34px
}

.welcome a:hover {
    text-decoration: none;
    font-size: larger;
}

.cover video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.goodbye {
    height: 25rem;
    background-color: black;
}

.goodbye h2 {
    text-align: center;
    color: darkred;
    padding: 4rem;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    font-size: 100px;
}

/* footer */

footer {
    padding-bottom: 1rem;
    background-color: black;
    color: white;
    font-family: "Amatic SC", sans-serif;
}

footer li {
    list-style: none;
    font-size: 25px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: darkred;
    text-decoration: underline;
}

.footer_title {
    text-align: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
}

.partenaires {
    display: flex;
    justify-content: space-around;
}

/*///////////////////////////////////////  Mobile Styles //////////////////////////////////////////////////////*/

@media (max-width: 767px) {

    /* header */
    .navbar {
        flex-wrap: wrap;
        height: 3.5em;
    }

    .navbar li {
        text-align: center;
        width: 40%;
    }

    .big_title {
        padding: 1.5em;
        padding-bottom: 0.5em;
    }

    /* footer */
    .footer_title {
        padding-bottom: 1rem;
    }

    .partenaires {
        flex-direction: column;
        align-items: center;
    }

    /* home */
    .home_title {
        font-size: 28px;
    }

    .pix-jenny {
        height: 12em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }

    .stat {
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    .stat_title {
        font-size: 28px;
    }

    /* welcome et goodbye*/
    .welcome {
        position: absolute;
        top: 20%;
        left: 10%;
        background-color: transparent;
        z-index: 2;
    }

}