{% extends 'layout.html.twig' %}
{% block title %}Goodbye{% endblock %}
{% block big_title %}<h1 class="display-none">Born to kill</h1>{% endblock %}
{% block content %}

    <div class="goodbye">
        <h2>Goodbye</h2>
    </div>

{% endblock %}