{% extends 'layout.html.twig' %}
{% block title %}Contact{% endblock %}
{% block content %}


    <form method="post">
        <fieldset class="fieldset_contact">
            <label for="email" class="label_contact">Email</label>
            <input type="email" class="input_contact" id=" email" placeholder="email@exemple.com">
            <label for="name" class="label_contact">Nom</label>
            <input type="text" class="input_contact" id="name" placeholder="Nom">
            <label for="subject" class="label_contact">Objet</label>
            <input type="text" class="input_contact" id="subject" placeholder="Objet du message">
            <label for="message" class="label_contact">Message</label>
            <textarea class="input_contact" id="message" rows="5"></textarea>
            <div class="button_contact">
                <button type="submit" id="button_contact">Envoyer</button>
            </div>
            </div>
        </fieldset>
    </form>
    </div>
    </div>

{% endblock %}