{% extends 'layout.html.twig' %}

{% block content %}
  <h1>Cibles</h1>

{% for item in items %}



<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>

    <p class="card-text">

      {{ item.bio }}</br>
      {{ item.bounty }} </br>
      {{ item.date_kill }} </br>
      
      
    </p>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>    
  

{% endfor %}      
  
{% endblock %}
